/* Home Page */

.home {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.home h1 {
  margin: 0;
}

.form {
  display: flex;
  align-items: center;
  width: 100%;
}

.form input {
  width: 100%;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 48px;
  border-radius: 0;
  border: 0;
  margin: 10rem 0;
  padding: 10px;
}

.form input::placeholder {
  color: var(--black);
}

.form button {
  cursor: pointer;
  appearance: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: bold;
  line-height: 48px;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 10px;
  color: var(--black);
  background: var(--grey);
}

.list {
  list-style: none;
  margin: 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.list li {
  margin-bottom: 1rem;
}

.list a {
  display: flex;
  padding: 1rem;
  border: 2px solid var(--white);
  transition: 0.2s background-color ease-in-out;
}

.list a:hover {
  color: var(--black);
  background-color: var(--white);
}
